In [ ]:
'''
1) How-to-count-distance-to-the-previous-zero
For each value, count the difference of the distance from the previous zero (or the start
of the Series, whichever is closer) and if there are no previous zeros,print the position
Consider a DataFrame df where there is an integer column {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}
The values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'.
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a
Series of random numbers.
3) Find the sum of the values in s for every Wednesday
4) Average For each calendar month
5) For each group of four consecutive calendar months in s, find the date on which the
highest value occurred.

'''

In [8]:
#Best solution for problem 1
import pandas as pd
import numpy as np
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

x = (df['X'] != 0).cumsum()

y = x != x.shift()

y = y.astype(np.int32)

df['Y'] = y.groupby((y != y.shift()).cumsum()).cumsum()
df.head(10)

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

In [ ]:
'''
2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a
Series of random numbers.
3) Find the sum of the values in s for every Wednesday
4) Average For each calendar month
5) For each group of four consecutive calendar months in s, find the date on which the
highest value occurred.
'''

In [10]:
dti = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B') 
s = pd.Series(np.random.rand(len(dti)), index=dti)
s

2015-01-01    0.859742
2015-01-02    0.182123
2015-01-05    0.864965
2015-01-06    0.144234
2015-01-07    0.736442
2015-01-08    0.824176
2015-01-09    0.013836
2015-01-12    0.856789
2015-01-13    0.956558
2015-01-14    0.689962
2015-01-15    0.858733
2015-01-16    0.136383
2015-01-19    0.026293
2015-01-20    0.843816
2015-01-21    0.983893
2015-01-22    0.017222
2015-01-23    0.878587
2015-01-26    0.346550
2015-01-27    0.970233
2015-01-28    0.171652
2015-01-29    0.668633
2015-01-30    0.318537
2015-02-02    0.385724
2015-02-03    0.095622
2015-02-04    0.358162
2015-02-05    0.741782
2015-02-06    0.595227
2015-02-09    0.145074
2015-02-10    0.908246
2015-02-11    0.728113
                ...
2015-11-20    0.606471
2015-11-23    0.579088
2015-11-24    0.769365
2015-11-25    0.426938
2015-11-26    0.313699
2015-11-27    0.001002
2015-11-30    0.146335
2015-12-01    0.391208
2015-12-02    0.749720
2015-12-03    0.038591
2015-12-04    0.701817
2015-12-07    0.127334
2015-12-08    0.561207
2015-12-09    0.021518
2015-12-10    0.354540
2015-12-11    0.985812
2015-12-14    0.211823
2015-12-15    0.840174
2015-12-16    0.536363
2015-12-17    0.964427
2015-12-18    0.072874
2015-12-21    0.641486
2015-12-22    0.308933
2015-12-23    0.925367
2015-12-24    0.827549
2015-12-25    0.498214
2015-12-28    0.764574
2015-12-29    0.040217
2015-12-30    0.963062
2015-12-31    0.661030
Freq: B, Length: 261, dtype: float64

In [11]:
#Find the sum of the values in s for every Wednesday.
s[dti.weekday == 2].sum()

26.640681495085133

In [12]:
#Average For each calendar month
s.resample('M').mean()

2015-01-31    0.561335
2015-02-28    0.496694
2015-03-31    0.459680
2015-04-30    0.433519
2015-05-31    0.582448
2015-06-30    0.449288
2015-07-31    0.434275
2015-08-31    0.572615
2015-09-30    0.428014
2015-10-31    0.429409
2015-11-30    0.565503
2015-12-31    0.529906
Freq: M, dtype: float64

In [13]:
#For each group of four consecutive calendar months in s, find the date on which the highest value occurred.
s.groupby(pd.Grouper(freq='4M')).idxmax()

2015-01-31   2015-01-21
2015-05-31   2015-03-09
2015-09-30   2015-08-06
2016-01-31   2015-12-11
dtype: datetime64[ns]